.home {
  .welcome {
    background: url('../../images/theme/lead.jpg') no-repeat left top;
    background-size: cover;
    min-height: 90vh;
    text-align: center;

    .title, .subtitle, p {
      color: $white;
    }

    .title, .subtitle {
      font-size: 5rem;
    }

    .title {
      margin-bottom: -2.25rem;
      font-weight: normal;
    }

    .subtitle {
      font-weight: bold;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .who {
    background-color: $black-ter;

    .columns {
      .column {
        flex-direction: column;
      }

      .programmer {
        i {
          color: $red
        }

        .footer-line {
          background-color: $red;
        }
      }

      .person {
        i {
          color: $green
        }

        .footer-line {
          background-color: $green;
        }
      }

      .hobbies {
        i {
          color: $orange
        }

        .footer-line {
          background-color: $orange;
        }
      }
    }

    .card {
      flex-grow: 1;
      text-align: center;
      background-color: $grey-dark;

      &:hover {
        background-color: $black-bis;
      }

      .card-content {
        padding: 4rem 0;

        h1 {
          color: $white;
          font-size: $size-large;
          margin-bottom: 1rem;
        }

        p {
          padding: 0 3rem;
          color: $grey;
          text-align: center;
        }
      }
    }

    .footer-line {
      height: 0.6rem;
    }
  }

  .what {
    background-color: $black-bis;

    h3 {
      margin-bottom: 0;
    }

    .columns {
      margin-bottom: -2rem;
    }

    .column {
      margin-bottom: 2rem;
      text-align: center;
    }

    .backend {
      i, h3 {
        color: $red;
      }
    }

    .frontend {
      i, h3 {
        color: $green;
      }
    }

    .sysadmin {
      i, h3 {
        color: $orange;
      }
    }

    .more {
      i, h3 {
        color: $white;
      }
    }

    p {
      color: $grey;
      text-align: center;
    }

    .icons {
      i {
        margin: 0 -1.5rem;
      }
      .left {
        transform: rotate(-20deg);
      }
      .right {
        transform: rotate(20deg);
      }
    }
  }
}

@include touch {
  .home {
    .welcome {
      .title, .subtitle {
        font-size: 3rem;
      }

      .title {
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: 2.50rem;
    }
  }
}