.home {
  .welcome {
    background: url('../../images/theme/lead.jpg') no-repeat left top;
    background-size: cover;
    min-height: 90vh;
    text-align: center;

    .title, .subtitle, p {
      color: $white;
    }

    .title, .subtitle {
      font-size: 5rem;
    }

    .title {
      margin-bottom: -2.25rem;
      font-weight: normal;
    }

    .subtitle {
      font-weight: bold;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .who {
    background-color: $black-ter;

    .columns {
      .column {
        flex-direction: column;
      }

      .developer {
        i {
          color: $red
        }

        .footer-line {
          background-color: $red;
        }
      }

      .person {
        i {
          color: $green
        }

        .footer-line {
          background-color: $green;
        }
      }

      .hobbies {
        i {
          color: $orange
        }

        .footer-line {
          background-color: $orange;
        }
      }
    }

    .card {
      flex-grow: 1;
      text-align: center;
      background-color: $grey-dark;

      @keyframes background-color-effect {
        100% {
          background-color: $grey-darker;
        }
      }

      @keyframes rotating-icon-effect {
        100% {
          transform: rotate(360deg);
        }
      }

      &:hover {
        animation-name: background-color-effect;
        animation-fill-mode: forwards;
        animation-duration: 500ms;
        i{
          animation-name: rotating-icon-effect;
          animation-fill-mode: forwards;
          animation-duration: 500ms;
        }
      }

      .card-content {
        padding: 4rem 0;

        h1 {
          color: $white;
          font-size: $size-large;
          margin-bottom: 1rem;
        }

        p {
          padding: 0 2rem;
          color: $grey;
          text-align: center;
        }
      }
    }

    .footer-line {
      height: 0.6rem;
    }
  }

  .what {
    background-color: $black-bis;

    h3 {
      margin-bottom: 1rem;
    }

    .columns {
      margin-bottom: -2rem;
    }

    .column {
      margin-bottom: 2rem;
      text-align: center;

      @keyframes icon-effect {
        25% {
          transform: rotate(-90deg);
        }
        50%{
          transform: rotate(90deg);
        }
      }

      &:hover{
        i{
          animation-name: icon-effect;
          animation-duration: 500ms;
        }

        p{
          color: $white;
        }
      }
    }

    .backend {
      i, h3 {
        color: $red;
      }
    }

    .frontend {
      i, h3 {
        color: $green;
      }
    }

    .sysadmin {
      i, h3 {
        color: $orange;
      }
    }

    .more {
      i, h3 {
        color: $white;
      }
    }

    p {
      color: $grey;
      text-align: center;
    }
  }
}

@include touch {
  .home {
    .welcome {
      .title, .subtitle {
        font-size: 3rem;
      }

      .title {
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: 2.50rem;
    }
  }
}