$family-sans-serif: "Raleway", sans-serif !important;

$orange: #ff9933;
$orange-light: #FFAB58;
$orange-lighter: #FFC082;
$green: #99cc66;
$green-light: #C1E998;
$green-lighter: #DBF3C3;
$red: #ff6666;
$red-light: #FF8A8A;
$red-lighter: #FFB5B5;
$yellow: #ffcc66;
$yellow-light: #FFD88A;
$yellow-lighter: #FFE6B5;

$grey: #999999;
$grey-dark: #3e3e3e;

$black-ter: #333333;
$black-bis: #242424;