.blog {
  background-color: $black-bis;

  .sidebar {
    margin-bottom: 2rem;

    .title {
      font-size: 1.5rem;

      &:first-child {
        margin-top: 0;
      }

      margin-top: 2rem;
    }

    .categories{
      li{
        border-bottom: 1px solid $grey-dark;

        a{
          color: $white;
          display: block;
          padding: 0.5rem 0;

          &:hover, &:active{
            color: $red;
          }

          .count{
            color: $grey;
          }
        }
      }
    }

    .tag {
      background-color: $white;
      padding: 1.25rem 1rem;
      border-radius: 0;

      &:hover {
        background-color: $red;
      }
    }

    .latest{
      li{
        margin-bottom: 1.5rem;

        a{
          font-size: 1rem;
          color: $grey-lighter;
          display: block;

          padding-left: 1rem;
          border-left: 5px solid $white;

          &:last-child{
            margin-bottom: 0;
          }

          &:hover, &:active{
            color: $red;
            border-left: 5px solid $red;
          }
        }

        .date{
          display: block;
          color: $grey;
        }
      }
    }
  }

  .filters {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.15rem;
    }
  }

  .column {
    padding: 3rem 1.5rem;
  }

  .tags {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;

    .tag, .level-item {
      color: $black-ter;
      text-decoration: none;
    }
  }

  .title {
    color: $white;
  }

  .article, .articles {
    margin: 3rem 0;
    color: $grey;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .content {
      text-align: justify;
      font-size: 1.15rem;
      color: $grey;
    }

    .meta {
      font-size: 1.15rem;
      margin-bottom: 0;
    }

    hr {
      width: 100%;
      background-color: $grey-dark;
      margin: 1rem 0;
    }

    .tags {
      padding: 1.5rem;
    }

    .meta{
      a{
        color: $white;

        &:hover, &:active{
          color: $red;
        }
      }
    }
  }

  .articles {
    .title {
      &:hover, &:active {
        color: $red;
      }

      font-size: 2rem;
    }

    .footer-line {
      height: 0.6rem;
      background-color: $green;
      &.image {
        background-color: $red;
      }
    }

    .card-content {
      background-color: $black-ter;
      padding: 2rem 3rem;
    }

    .content {
      margin: 0;
    }

    .tags{
      margin: 0 1.5rem;

      .level-item{
        &:hover, &:active{
          color: $red;
        }
      }
    }
  }

  .article {
    .title {
      font-size: 3rem;
      font-weight: lighter;
      margin-bottom: 0;
    }

    .tags {
      padding: 0;
      margin-bottom: 1rem;

      .level-item {
        color: $white;

      }
    }

    .lead-image {
      margin-bottom: 1.5rem;
    }
  }

  .pagination {
    text-align: center;
    margin: 0 auto;

    .pagination-list {
      justify-content: center;
    }

    .pagination-previous, .pagination-next {
      display: none;
    }

    .pagination-link {
      padding: 1.25rem;
      border-radius: 0;
      background-color: transparent;
      border: 0.2rem solid $white;
      color: $white;
      font-size: 0.875rem;
      font-weight: bold;

      &:hover, &.is-current {
        color: $red;
        border-color: $red;
      }
    }

    [disabled] {
      border: 0.2rem solid $grey-light;
      color: $grey-light !important;
    }
  }

  @include mobile {
    .columns {
      display: flex;
      flex-direction: column-reverse;
      .tags {
        margin-bottom: 0;
      }
    }

    .column {
      padding: 1rem 1.5rem;
    }

    .card {
      .media {
        margin-bottom: 0;
      }
    }

    .articles, .article {
      .tags {
        padding: 1rem 0;
        justify-content: center;
        .level-item {
          padding: 0.5rem;
        }
      }

      .card-content {
        padding: 1.5rem;
      }

      .level-item, .level-right {
        margin: 0;
      }
    }

    .article {
      .title, .content {
        padding: 0;
      }
    }
  }
}