.footer {
  background-color: $white;
  color: $grey-dark;
  text-align: center;
  padding: 0;

  a{
    color: $black-bis;
    &:hover, &:active{
      text-decoration: underline;
    }
  }

  p{
    margin: 1rem 0;
  }
}