#navigation {
  a {
    color: $grey-dark;
    background-color: transparent;
    &:hover, &:active, &.is-active{
      color: $red;
    }
  }

  .navbar-brand {
    .logo {
      padding: 1.5rem;
      svg {
        @include mobile {
          width: 40mm;
        }
        @include tablet {
          width: 45mm;
        }
        @include desktop {
          width: 50mm;
        }
        @include widescreen {
          width: 55mm;
        }
        height: auto;
      }
      &:hover {
        svg path {
          fill: $red;
        }
      }
    }
  }

  .navbar-burger {
    width: 100%;
    height: auto;
    position: static;
    &:hover {
      background-color: transparent;
    }
    i {
      color: $grey-dark;
      position: relative;
      float: right;
      margin-right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@include touch {
  @keyframes open {
    from {height: 0}
    to {height: 100vh}
  }

  @keyframes close {
    from {height: 100vh}
    to {height: 0}
  }

  #navigation {
    .navbar-menu{
      position: fixed;
      width: 100%;

      a.navbar-item {
        text-align: center;
        padding: 1.5rem 2rem;
      }
    }

    .show-close, .show-open{
      display: none;
    }

    &.closed{
      .show-open{
        display: block;
      }
    }

    &.closing{
      .show-open{
        display: block;
      }

      .navbar-menu{
        animation-name: close;
        animation-duration: 0.3s;
        display: block;
        height: 100vh;
        .navbar-item{
          display: none;
        }
      }
    }

    &.open{
      position: fixed;
      width: 100%;

      .show-close{
        display: block;
      }

      .navbar-menu{
        animation-name: open;
        animation-duration: 0.3s;

        height: 100vh;
        display: block;
      }
    }
  }
}

@include from($desktop) {
  #navigation {
    .navbar-menu {
      font-size: $size-normal;
      a.navbar-item {
        padding: 1.5rem;
      }

      display: flex !important;
      height: 100% !important;
    }

    &.admin {
      .has-dropdown {
        .navbar-item {
          padding: 0.25rem 0.75rem;
        }
      }
    }
  }
}